<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WiiU Screenshot Server</title>
    <link rel="stylesheet" href="/static/jquery.fancybox.min.css" />
</head>
<body>
    <h1>WiiU Screenshot Server</h1>
    <div id="container">
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/jquery.fancybox.min.js"></script>

    <script type="text/javascript">
        $.get('/api/images', function (data) {
            var groupData = makeGroup(data);
            initFancybox(groupData);
        });

        function makeGroup(data) {
            var result = {};
            data.forEach(function (image) {
                var g = image.split('_')[0];
                if (!(g in result)) {
                    result[g] = [];
                }
                result[g].push(image);
            });

            for (g in result) {
                result[g].sort(function (a, b) {
                    if (a > b) {
                        return 1;
                    } else if (a < b) {
                        return -1;
                    } else {
                        return 0;
                    }
                });
            }
            return result;
        }

        function initFancybox(groupData) {
            for (g in groupData) {
                $('#container').append('<h2>' + g + '</h2>');
                var group = $('<div class="images"/>');
                groupData[g].forEach(function (image) {
                    group.append('<a data-fancybox="gallery" href="/upload/' + image + '"><img src="/thumbnail/' + image + '"></a>');
                });
                group.appendTo('#container');
            }
            $("[data-fancybox]").fancybox();
        }
    </script>
</body>
</html>